# 분봉 데이터 다운로드
참고 링크: [https://wikidocs.net/84199]

In [1]:
from pykiwoom.kiwoom import *
import datetime
import time

In [2]:
kiwoom = Kiwoom()
kiwoom.CommConnect(block=True)
print("블록킹 로그인 완료")

블록킹 로그인 완료

In [3]:
code = input('종목코드? ')
code

('000490', '20220512')

[ opt10080 : 주식분봉차트조회요청 ]

 [ 주의 ] 
 데이터 건수를 지정할 수 없고, 데이터 유무에따라 한번에 최대 900개가 조회됩니다.

 1. Open API 조회 함수 입력값을 설정합니다.
	종목코드 = 전문 조회할 종목코드
	SetInputValue("종목코드"	,  "입력값 1");

	틱범위 = 1:1분, 3:3분, 5:5분, 10:10분, 15:15분, 30:30분, 45:45분, 60:60분
	SetInputValue("틱범위"	,  "입력값 2");

	수정주가구분 = 0 or 1, 수신데이터 1:유상증자, 2:무상증자, 4:배당락, 8:액면분할, 16:액면병합, 32:기업합병, 64:감자, 256:권리락
	SetInputValue("수정주가구분"	,  "입력값 3");

In [17]:
# 최종거래일 기준 분봉데이터 가져와짐(해당 시간대 거래가 없는 경우 이빨 빠질수 있음)
df = kiwoom.block_request("opt10080",
                              종목코드=code,
                              틱범위=1,
                              output="주식분봉차트조회요청 ",
                              next=0)
df

,현재가,거래량,체결시간,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,+16900,25441,20220513153000,+16900,+16900,+16900,,,,,,,
1,+16900,36874,20220513151500,+16850,+16900,+16750,,,,,,,
2,+16850,20041,20220513151000,+16700,+16850,+16700,,,,,,,
3,+16700,12761,20220513150500,+16750,+16750,+16700,,,,,,,
4,+16750,19632,20220513150000,+16850,+16850,+16700,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,-14400,4927,20220427121500,-14400,-14450,-14300,,,,,,,
896,-14400,551,20220427121000,-14350,-14400,-14350,,,,,,,
897,-14400,1234,20220427120500,-14300,-14400,-14300,,,,,,,
898,-14400,7395,20220427120000,-14450,-14450,-14300,,,,,,,
899,-14450,11374,20220427115500,-14400,-14450,-14350,,,,,,,

In [18]:
df[:60]

,현재가,거래량,체결시간,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,+16900,25441,20220513153000,+16900,+16900,+16900,,,,,,,
1,+16900,36874,20220513151500,+16850,+16900,+16750,,,,,,,
2,+16850,20041,20220513151000,+16700,+16850,+16700,,,,,,,
3,+16700,12761,20220513150500,+16750,+16750,+16700,,,,,,,
4,+16750,19632,20220513150000,+16850,+16850,+16700,,,,,,,
5,+16850,53653,20220513145500,+16800,+16850,+16700,,,,,,,
6,+16750,63105,20220513145000,+16600,+16850,+16600,,,,,,,
7,+16650,16729,20220513144500,+16600,+16650,+16500,,,,,,,
8,+16650,3584,20220513144000,+16600,+16650,+16600,,,,,,,
9,+16600,11560,20220513143500,+16600,+16650,+16550,,,,,,,
10,+16600,16041,20220513143000,+16550,+16650,+16500,,,,,,,
11,+16550,7741,20220513142500,+16550,+16600,+16550,,,,,,,
12,+16550,6127,20220513142000,+16500,+16600,+16500,,,,,,,
13,+16500,6891,20220513141500,+16450,+16550,+16450,,,,,,,
14,+16500,14022,20220513141000,+16600,+16650,+16450,,,,,,,
15,+16600,11447,20220513140500,+16600,+16700,+16550,,,,,,,
16,+16600,4953,20220513140000,+16600,+16650,+16550,,,,,,,
17,+16600,9589,20220513135500,+16600,+16650,+16550,,,,,,,
18,+16600,24233,20220513135000,+16600,+16700,+16550,,,,,,,
19,+16600,5515,20220513134500,+16550,+16600,+16500,,,,,,,
20,+16550,6792,20220513134000,+16550,+16550,+16500,,,,,,,
21,+16550,5544,20220513133500,+16500,+16550,+16450,,,,,,,
22,+16500,22060,20220513133000,+16500,+16600,+16450,,,,,,,
23,+16500,13754,20220513132500,+16450,+16500,+16350,,,,,,,
24,+16450,3476,20220513132000,+16400,+16450,+16350,,,,,,,
25,+16400,6076,20220513131500,+16400,+16450,+16400,,,,,,,
26,+16350,5654,20220513131000,+16450,+16450,+16350,,,,,,,
27,+16450,11421,20220513130500,+16450,+16450,+16350,,,,,,,
28,+16400,24897,20220513130000,+16300,+16450,+16300,,,,,,,
29,+16300,3373,20220513125500,+16250,+16350,+16200,,,,,,,
30,+16300,998,20220513125000,+16250,+16300,+16200,,,,,,,
31,+16250,6287,20220513124500,+16250,+16300,+16200,,,,,,,
32,+16200,4883,20220513124000,+16200,+16250,+16200,,,,,,,
33,+16250,4743,20220513123500,+16300,+16300,+16200,,,,,,,
34,+16250,1790,20220513123000,+16250,+16300,+16200,,,,,,,
35,+16250,876,20220513122500,+16250,+16250,+16200,,,,,,,
36,+16200,2394,20220513122000,+16300,+16300,+16200,,,,,,,
37,+16250,4767,20220513121500,+16250,+16300,+16200,,,,,,,
38,+16250,6078,20220513121000,+16250,+16300,+16200,,,,,,,
39,+16300,7073,20220513120500,+16150,+16300,+16150,,,,,,,
40,+16200,1878,20220513120000,+16250,+16250,+16150,,,,,,,
41,+16200,2095,20220513115500,+16250,+16250,+16150,,,,,,,
42,+16250,8045,20220513115000,+16150,+16300,+16150,,,,,,,
43,+16200,1093,20220513114500,+16100,+16200,+16050,,,,,,,
44,+16150,4607,20220513114000,+16050,+16200,16000,,,,,,,
45,+16050,6414,20220513113500,+16100,+16150,16000,,,,,,,
46,+16100,2512,20220513113000,+16150,+16200,+16100,,,,,,,
47,+16150,4339,20220513112500,+16200,+16200,+16100,,,,,,,
48,+16200,646,20220513112000,+16150,+16200,+16100,,,,,,,
49,+16150,2780,20220513111500,+16150,+16150,+16100,,,,,,,
50,+16100,5122,20220513111000,+16200,+16200,+16100,,,,,,,
51,+16200,4806,20220513110500,+16150,+16200,+16150,,,,,,,
52,+16150,1856,20220513110000,+16200,+16200,+16150,,,,,,,
53,+16200,2325,20220513105500,+16150,+16200,+16100,,,,,,,
54,+16150,5842,20220513105000,+16250,+16250,+16150,,,,,,,
55,+16250,7370,20220513104500,+16200,+16250,+16150,,,,,,,
56,+16150,3950,20220513104000,+16150,+16200,+16100,,,,,,,
57,+16150,4051,20220513103500,+16150,+16200,+16100,,,,,,,
58,+16150,6797,20220513103000,+16050,+16200,+16050,,,,,,,
59,+16100,9800,20220513102500,+16050,+16100,16000,,,,,,,

In [10]:
# next=2를 지정한 경우 나머지 데이터를 추가로 수신가능
df2 = kiwoom.block_request("opt10080",
                              종목코드=code,
                              틱범위=1,
                              output="주식분봉차트조회요청 ",
                              next=2)
df2

,현재가,거래량,체결시간,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,-15900,2371,20220511130400,-15850,-15900,-15850,,,,,,,
1,-15850,1924,20220511130300,-15850,-15900,-15850,,,,,,,
2,-15850,5606,20220511130200,-15900,-15900,-15850,,,,,,,
3,-15900,1284,20220511130100,-15900,-15900,-15900,,,,,,,
4,-15900,1035,20220511130000,-15900,-15900,-15900,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,-16400,725,20220509105200,-16450,-16500,-16400,,,,,,,
896,-16450,551,20220509105100,-16450,-16500,-16450,,,,,,,
897,-16450,1101,20220509105000,-16450,-16500,-16450,,,,,,,
898,-16450,1501,20220509104900,-16450,-16450,-16400,,,,,,,
899,-16450,664,20220509104800,-16400,-16450,-16350,,,,,,,

In [17]:
df.describe()

,현재가,거래량,체결시간,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
count,900,900,900,900,900,900,900,900,900,900,900,900,900
unique,28,654,900,28,28,28,1,1,1,1,1,1,1
top,+16200,36,20220513153030,+16200,+16200,+16150,,,,,,,
freq,109,7,1,105,125,105,900,900,900,900,900,900,900

In [18]:
df.columns

Index(['현재가', '거래량', '체결시간', '시가', '고가', '저가', '수정주가구분', '수정비율', '대업종구분',
       '소업종구분', '종목정보', '수정주가이벤트', '전일종가'],
      dtype='object')